@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0; }
img{ border:none;}
li,ul{ list-style:none;}
body{font-family:"微软雅黑"; font-size:15px; color:#4d4d4d; background:#f2f2f2;}
.c_19b1ad{ color:#19b1ad; }
.b_19b1ad{background:#19b1ad;}


.bg1{ background:url(../images/img1.jpg); position:relative;}
.login{ width:450px; position:absolute; z-index:1; left:50%; margin-left:-225px;}
.logo{ text-align:center; padding-bottom:25px; padding-top:45px;}
.logo img{ margin:0 auto; width:243px;}
.inputs{ width:300px; padding-left:10px; padding-right:10px; height:52px; font-size:18px; color:#4d4d4d; font-family:"微软雅黑"; background:#f7f7f7; border:1px solid #f7f7f7; border-top:1px solid #e4e4e4;  border-left:1px solid #e4e4e4; }
.buttons{ background:#21c1bd; width:320px; display:block; text-align:center; line-height:52px; text-decoration:none; height:52px; border:none; cursor:pointer; color:#fff;  font-size:22px; color:#fff; font-family:"微软雅黑"; font-weight:bold;}
a.buttons:hover{ background:#1da5a1;}

.box{ padding: 50px 65px 0; width:320px; height:330px; background:#fff; border:1px solid #e5e3e3; border-top:8px solid #ffda3d;}
.box li{ overflow:hidden; zoom:1; padding-bottom:35px;}
.box .s1{ float:left;}
.box .s2{ float: right;}
.box .s2 a{ color:#999; text-decoration: underline;}
.box .s2 a:hover{ color:#ff5538;}

.header{ height:134px; background:#18b1ae; overflow:hidden; zoom:1;}
.header .lefts{ float:left;}
.header .rights{ float:right; font-size:16px; color:#fff; padding-top:34px; padding-right:30px;}
.header .rights span{ font-weight:bold; font-size:24px; padding-right:8px;}
.header .rights a{ color:#feef86; text-decoration:none;}
.header .rights p{ padding-bottom:4px;}


.main{ width:1000px; margin:0 auto; padding:30px 0; overflow:hidden; zoom:1;}
.titles{ width: 192px; float:left; text-align:center; color:#18b1ae; font-weight:bold; font-size:67px; _height:810px;}
.lists{ width:807px; float:right; background:#fff; margin-top:20px;}
.listBox h5.tit1{ cursor:pointer; border-bottom:1px solid #fff; height:50px; background:#19b1ad; font-weight:normal; line-height:50px; color:#fff; font-size:20px; padding:0 20px;color:#8aedf2;}
.listBox ul{ display:none;}


.listBox li{padding-left:30px; height:50px; line-height:50px; border-bottom:1px solid #f2f2f2; font-size:16px;    overflow:hidden; zoom:1;}
.listBox li.cur{ background:#feef86; color:#7e4f05;}
.listBox .tit{ overflow:hidden;zoom:1; line-height:50px; background:#eefbfb; color:#19b1ad; border-bottom:1px solid #e2f1f1;}
.listBox .tit .s1{ width:300px; height:50px;text-align:center;  float:left;}
.listBox .tit .s2{  width:320px; height:50px; text-align:center; float:left; border-left:1px solid #e2f1f1;}
.listBox .tit .s3{ width:180px;  height:50px; float:left;text-align:center;border-left:1px solid #e2f1f1;}
.listBox li .s1{ width:260px; height:50px; padding:0 20px;  float:left;}
.listBox li .s2{ width:320px; height:34px; padding:8px 0;text-align:center; float:left; border-left:1px solid #f2f2f2;}
.listBox li .s3{ width:180px; height:50px; float:left;text-align:center;border-left:1px solid #f2f2f2;}
.listBox li a{ color:#4d4d4d; text-decoration:none; display:block;}
.listBox li a:hover{ }
.listBox h5.tit1 span{ color:#fff; font-weight:bold; padding-left:10px; }
.listBox h5.tit1 p{ float:right;}
.listBox h5.jt01{ background:url(../images/jt01.jpg) no-repeat right center #19b1ad;}
.listBox h5.jt02{ background:url(../images/jt02.jpg) no-repeat right center #19b1ad;}





.tit2{ font-size:55px; font-weight:bold; color:#19b1ad;}
table .paddingT10{ padding:25px 0;}

.tit3{ position:relative; width:1000px; margin:0 auto; z-index:1; margin-top:50px;}
.tit3 p.s1 {
text-transform: uppercase;
font-size: 42px;
font-family: "微软雅黑",Arial, Helvetica, sans-serif;
color: #19b1ad;
line-height: 40px;
letter-spacing: -1px;
width: 500px;
overflow: hidden;
}
.tit3 p.s2 {
font-size: 27px;
padding-bottom: 15px;
width: 500px;
overflow: hidden;
}
.page1{ overflow:hidden; zoom:1;}
.page1 .wenzi{ overflow:hidden; zoom:1; margin:15px 0; font-size:18px;}
.page1 .wenzi p{ float:left;}
.page1 .wenzi p.s_1{ background:url(../images/a01.gif) no-repeat 0 center; padding-left:18px;}
.page1 .wenzi p.s_2{ background:url(../images/a02.gif) no-repeat 0 center; padding-left:18px; margin-left:25px}
.page1 .tiaozhuang{ width:500px; overflow:hidden; zoom:1; height:22px; background:#e0e0e0; line-height:22px; font-size:18px;}
.page1 .tiaozhuang .red{ height:22px; float:left; background:#fe9495; text-align:center; color:#fff; }
.page1 .tiaozhuang .green{ height:22px; float:right; background:#75cd5f; text-align:center; color:#fff;}
.wzCont{ padding:15px 0; line-height:28px;}
h5.tit{ font-size:17px; font-weight:normal; color:#19b1ad; padding-bottom:10px;}

.contBox1{ width:1000px; margin:0 auto; margin-bottom:30px;  background:#fff; height:183px; overflow:hidden; zoom:1;}
.contBox1 .lefts{ width:200px; float:left; height:183px; border-right:1px solid #f0f0f0;}
.contBox1 .lefts dl{ width:125px; margin:0 auto; padding-top:25px;}
.contBox1 .lefts dl dd{ height:110px; background:url(../images/dj.gif) no-repeat;}
.contBox1 .lefts dl dd.img5{ background-position:0 0;}
.contBox1 .lefts dl dd.img4{ background-position:0 -129px;}
.contBox1 .lefts dl dd.img3{ background-position:0 -258px;}
.contBox1 .lefts dl dd.img2{ background-position:0 -387px;}
.contBox1 .lefts dl dd.img1{ background-position:0 -516px;}
.contBox1 .lefts dl dd.img0{ background-position:0 -645px;}
.contBox1 .lefts dl dt{ line-height:30px; font-size:18px; text-align:center;}
.contBox1 .rights{ width:749px; float:left; height:143px; padding:40px 0 0 50px; }

.jdBxo1{ overflow:hidden; zoom:1; margin-bottom:30px;}
.jdBxo1 .tit{ float:left; width:35px; line-height:16px;color:#ff8470;}
.jdBxo1 .bfb{ width:590px; height:30px; float:left; background:#fff; margin-left:5px; margin-right:10px;}
.jdBxo1 .bfb .bx{ height:30px; position:relative;background:#ff8470;}
.jdBxo1 .num1{ font-size:18px; position:absolute; top:3px; right:-60px;color:#ff8470 }
.jdBxo2{ overflow:hidden; zoom:1; margin-bottom:30px;}
.jdBxo2 .tit{ float:left; width:35px; line-height:16px;color:#b1b1b3;}
.jdBxo2 .bfb{ width:590px; height:30px; float:left; background:#fff; margin-left:5px; margin-right:10px;}
.jdBxo2 .bfb .bx{ height:30px; position:relative;background:#e0e0e2;}
.jdBxo2 .num1{ font-size:18px; position:absolute; top:3px; right:-60px;color:#b1b1b3 }

.contBox2{ width:1000px; margin:0 auto; margin-bottom:30px;}
.contBox2 .tit4{ height:45px; line-height:45px; background:#19b1ad; padding:0 20px; color:#fff; font-size:20px;}
.contBox2 .cont{ background:#fff; padding:20px;}
.jieshao dl{ overflow:hidden; zoom:1;}
.jieshao dl dd{ float:left; width:190px; height:140px;}
.jieshao dl dt{ width:736px; float:left; padding-left:20px; line-height:28px;}

.contBox3 { width:100%; margin-bottom:30px; }
.contBox3 .tit{ font-size:47px; height:54px; overflow:hidden; color:#19b1ad; font-weight:bold; width:1000px; margin:0 auto; }
.contBox3 .cont{ background:#fff; width:100%;}

.pageContent{ background:#f2f2f2; padding:20px 0;}
.page2{ overflow:hidden; zoom:1; width:1000px; margin:0 auto; }
.pageBox{ background:#fff; border:1px solid #e9e9e9; height:44px; line-height:44px; float:right; margin-left:10px; overflow:hidden; zoom:1;}
.pageBox a.s1{ float:left; padding:0 20px; }
.pageBox1{ background:#fff; border:1px solid #e9e9e9; height:44px; line-height:44px; float:right; margin-left:10px; overflow:hidden; zoom:1;}
.pageBox2{ background:#fff; border:1px solid #e9e9e9; height:44px; line-height:44px; float:right; margin-left:10px; overflow:hidden; zoom:1;}
.pageBox1 a.s2{ border-right:1px solid #e9e9e9; width:63px; height:44px; background:url(../images/ico6.gif) no-repeat 15px 20px; padding-left:25px;  display:block; float:left;}
.pageBox1 a.s1{ float:left; padding:0 20px; }
.pageBox2 a.s2{ border-left:1px solid #e9e9e9; width:68px; height:44px; display:block; float:left; padding-left:20px; background:url(../images/ico7.gif) no-repeat 70px 20px;}
.pageBox2 a.s1{ float:left; padding:0 20px;}
.page2 a{ color:#666666; text-decoration:none;}
.page2 a:hover{ color:#fe3c1c; text-decoration:underline;}


.jieshao2 h6{ font-style:normal; font-size:18px; color:#19b1ad;}
.jieshao2 p{ padding-bottom:18px; line-height:28px;}
.paddingLR{ padding:0 20px;}